<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        .card1{
            width: fit-content;
            border: 1px solid;
            border-radius: 10px;
        }
        td,th{
            border: 1px solid;
            padding: 10px;
        }
        .btn1{
            padding: 5px 10px;
            border: none;
            border-radius: 8px;
        }
        .btn1 a{
            text-decoration: none;
            color: white;
        }
        
    </style>
</head>
<body>
    <div class="card card1">
        <h2 class="text-center card-header ">Student List</h2>
        <div class="card-body p-5">
            <table>
                <tr class="text-center ">
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Class</th>
                    <th>Email</th>
                    <th>Registration No.</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Password</th>
                   
                </tr>
                {%for i in student %}
                <tr class="text-center ">
                    <td>{{i.firstname}}</td>
                    <td>{{i.lastname}}</td>
                    <td>{{i.age}}</td>
                    <td>{{i.gender}}</td>
                    <td>{{i.class1}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.regno}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.username}}</td>
                    <td>{{i.password}}</td>
                    <td style="border: none;"><button class="btn-success btn1"><a href="studentedit/{{i.id}}">Edit</a></button></td>
                    <td style="border: none;"><button class="btn-danger btn1"><a href="studentdelete/{{i.id}}">Delete</a></button></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        

    </div>
</body>
</html>