<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        .card1{
            border: 1px solid;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-light bg-dark ">
        <div class="container-fluid d-flex justify-content-end ">
          <a class="navbar-brand" href="logout">
            <button class="btn btn-danger ">Logout</button>
          </a>
        </div>
      </nav>
    <div class="container-fluid mt-4  ">
        <h1 class="text-center">Teacher's Dashboard</h1>
        <h5 class="text-center ">
            Welcome, {{b.username}}
        </h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error deleniti ipsa voluptatem vero itaque, illum enim eum recusandae obcaecati numquam ea nisi voluptas, amet, maxime quo iusto impedit at ad!</p>
    </div>
    <div class="container-fluid text-center d-flex justify-content-evenly mt-4  ">
        <div class="cards card1">
            <h4 class="card-header ">My Section</h4>
            <div class="card-body">
                <!-- <p><a href="teacherregister">Teacher Registration</a></p> -->
                <p><a href="teacherprofile">Profile View</a></p>
            </div>
        </div>
        <div class="cards card1">
            <h4 class="card-header">Student's Section</h4>
            <!-- <p><a href="studentapproval">Student approval</a></p> -->
            <p><a href="studentregister">Student Register</a></p>
            <p><a href="studentlistview">Student View</a></p>
        </div>
    </div>
    
</body>
</html>